
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 90%;
    min-height: 60vh;
    display: grid;
    place-items: center;
    background-color:white
}

container{
    display: grid;
    place-items: center;
}

.mytrafficlight{
    width: 70px;
    height: 250px;
    border-radius: 20px;
    display: grid;
    place-items: center;
    background-color: black;
    padding: 10px;
    border-right: 4px solid rgb(255, 255, 255, 0.6);
    top: 7%;
}
.circlelight{
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(0, 0,0, 0.3);
    position: relative;
}
.circlelight::after{
    content: "";
    position: absolute;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border-right: 4px solid rgb(255, 255, 255, 0.6);
    top: 7%;
}
.stick{
    width: 10px;
    height: 100px;
    margin-left: 30px;
    background-color: black
}
.red{
    background-color: #c0392b;
}
.redshadow{
    background-color: #c0392b;
    box-shadow: 0 0 40px #ffffff;
}
.yellow{
    background-color: #f1c10f;
}
.yellowshadow{
    background-color: #f1c10f;
    box-shadow: 0 0 60px 1px white;
}
.green{
    background-color: #2ecc71;
}   
.greenshadow{
    background-color: #2ecc71;
    box-shadow: 0 0 60px 1px white;
}